body {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 50%;
  background-color: #cacfd2;
  margin: auto;
}
td,
th {
  border: 1px solid #dddddd;
  padding: 10px;
  text-transform: capitalize;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
caption {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
  text-align: center;
  text-transform: uppercase;
}
