* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container {
  display: flexbox;
  margin: 20px;
}
.container div {
  padding: 10px 10px 0;
}
.container .child1 {
  background-color: aqua;
  order: 4;
}

.container .child2 {
  background-color: blueviolet;
  order: 3;
}
.container .child3 {
  background-color: rgb(92, 196, 135);
  order: 2;
}

.container .child4 {
  background-color: rgb(248, 146, 146);
  order: 1;
}
